<h1>Editar filial</h1>

<% @subsidiary.errors.full_messages.each do |message|%>
  <p><%= message %></p>
<% end %>

<%= form_with(model: @subsidiary, local: true) do |f| %>
  <div>
    <p>
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :cnpj, 'CNPJ' %>
      <%= f.text_field :cnpj %>
    </p>
    <p>
      <%= f.label :address, 'Endereço' %>
      <%= f.text_field :address %>
    </p>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>
