<h1><%= @subsidiary.name %></h1>

<dl>
  <dt>CNPJ:</dt>
  <dd><%= @subsidiary.cnpj %></dd>
  <dt>Endereço:</dt>
  <dd><%= @subsidiary.address %></dd>

<p><%= link_to 'Editar', edit_subsidiary_path(@subsidiary) %></p>
<p><%= link_to 'Voltar', subsidiaries_path %></p>