<h1>Editar categoria de veículo</h1>

<div>
  <% @car_category.errors.full_messages.each do |message|%>
    <p><%= message %></p>
  <% end %>

  <%= form_with(model: @car_category, local: true) do |f| %>
    <p>
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :daily_rate, 'Diária' %>
      <%= f.number_field :daily_rate %>
    </p>
    <p>
      <%= f.label :car_insurance, 'Seguro' %>
      <%= f.number_field :car_insurance %>
    </p>
    <p>
      <%= f.label :third_party_insurance, 'Seguro para terceiros' %>
      <%= f.number_field :third_party_insurance %>
    </p>
    <%= f.submit 'Enviar' %>
  <% end %>
</div>
