<h1><%= @car_category.name %></h1>
<p><%= @car_category.daily_rate %></p>
<p><%= @car_category.car_insurance %></p>
<p><%= @car_category.third_party_insurance %></p>

<li><%= link_to 'Voltar', car_categories_path %></li>