<h1>Locações</h1>


<p><%= form_with url: search_rentals_path, method: :get do |f| %>
  <%= f.label :q, 'Código' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %></p>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Categoria</th>
      <th>Data de início</th>
      <th>Data de término</th>
      <th>Código</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rentals.each do |r| %>
      <tr>
        <td><%= r.customer.name %></td>
        <td><%= r.car_category.name %></td>
        <td><%= r.start_date %></td>
        <td><%= r.end_date %></td>
        <td><%= r.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p><%= link_to 'Registrar nova locação', new_rental_path %></p>
<p><%= link_to 'Voltar', root_path %></p>



