<h1>Registrar fabricante</h1>

<div>
<% @manufacturer.errors.full_messages.each do |message|%>
  <p><%= message %></p>
<% end %>

<%= form_with(model: @manufacturer, local: true) do |f| %>
  <p>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  </p>
  <%= f.submit 'Enviar' %>
<% end %>
</div>